# Config folders
.venv
.vscode

# Cache folders
__pycache__
.pytest_cache

# Build folders
build
bin

# Data folders
data

# Config files
config.yaml

# Local test scripts
test.py

# Ignore path-pruning metrics (for now)
metrics_path-pruning.ipynb
