# Config folders
.venv
.vscode

# Cache folders
__pycache__
.pytest_cache

# Temp files
*.swp

# Build folders
build
bin

# Config files
config.yaml

# Local test scripts
test.py

# Ignore path-pruning metrics (for now)
metrics_path-pruning.ipynb
