# Config folders
.venv
.vscode

# Cache folders
__pycache__
.pytest_cache

# Temp files
*.swp

# Build folders
build
bin

# Data folders
data

# Config files
config.yaml

# Local test scripts
test.py
