# Libraries
PyYAML==6.0.2
natsort==8.4.0
fabric==3.2.2
treelib==1.8.0

# Custom
dns-unbound-cache-reader
profile-translator-blocklist
signature-extraction
smart-home-testbed

# Data visualization
matplotlib==3.10.1
jupyter==1.1.1
rpy2==3.6.1
