# Ignore all experimental output files
*.txt
*.log
*.nft
*.c
*.csv
*.json

## Exceptions
# CMake config
!CMakeLists.txt
# Event signature trees (in JSON format)
!tree*.json

# Ignore PCAP files (they should go in the pcap folder)
*.pcap

# Do not track path-pruning files (for now)
path_pruning/

# Ignore folders of old experiments
old/
