# Ignore all experimental files
cmd.sh
*.txt
*.log
*.nft
*.c
*.csv
*.json

## Exceptions
# CMake config
!./CMakeLists.txt
# Event signature trees (in JSON format)
!tree*.json

# Ignore PCAP files (they should go in the pcap folder)
*.pcap

# Ignore old data
old/
tree.old.json
